# Python cache files
__pycache__/

# Python compiled files
*.pyc
*.pyo
*.pyd

# Python log files
*.log

# Virtual environment directories (assuming you use virtualenv or venv)
venv/
env/

# IDE or editor-specific files and directories
.vscode/
.idea/

# Package build and distribution directories
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local configuration files (customize as needed)
config.ini

# Any other files or directories you want to exclude
